body{
    font-family: arial, sans-serif;
    margin: 0px;
    background-color: #f9f9f9;
    color: #333;
}
header{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px, 2px, 5px rgba(0, 0, 0, 0.1);
}
header img{
    max-width: 80%;    
}
h1{
    color: #553382;
    font-size: 36px;
}
header{ /*estou configurando a tag p dentro da tag header*/
    font-size: 18px;
    margin-top: 10px;
}
.main-index{  /*todo ponto é uma classe*/
    display: grid;
      /*pode aceitar os comandos auto- 1fr(fração)
  px ()  
  }pixels -%*/
    grid-template-columns:auto auto auto ;
    padding: 20px;
    justify-content: center; /*alinhar elementos*/
    background-color: #fff;
    gap: 20px; /*separa linhas e colunas ,espaço entre elementos*/ 
}
.main-index a{
    transition: transform 0.8
    ; /*tempo de transição*/
    /*foi aplicado a propriedade de transição com uma duração de 0.3 segundos em sua animação de transformação*/
}
.main-index a :hover{
    transform: scale(1.05);/*escala-zoom*/
    /*os elementos irão aumentar em 5% ao passar o mouse sobre eles*/
}
.main-videos h1{
    text-align: center;
    font-size: 36px;
}
.main-videos iframe{
    margin: auto;
    display: block;
}
.main-videos a{
    display: block;
    text-align: center;
    text-decoration: none;

    margin-top: 20px;
    font-size: 20px;
}



    

 
